
:root {
    --primary-color: #fef9f8;
    --secondary-color: #ef9273;
    --text-color: #0d0d0d;
}



/* * {
    margin: 25;
    padding: 25;
    box-sizing: border-box;
} */



/* HEADER STYLING */

body {
    font-family: Tahoma, Geneva, sans-serif;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 35px;
    background-color: var(--primary-color);
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--text-color);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--text-color);
}
header nav {
    margin: 7px 0;

}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    /*text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

header nav ul li a:hover {
    color: var(--secondary-color);
}

/* ABOUT ME STYLING */

#hero {
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-me {
    width: 35%;
    text-align: left;
    margin: 1.5%;
    color: var(--text-color);
    font-size: 18px;
    line-height: 1.2;
}

.selfie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    border: solid; 
}

/* CURRENT WORK STYLING */


#currents {
    background: var(--secondary-color);
    padding: 15 0 15 0;
}

 .flex-row {
    display: flex;
    padding-top: 150;
}
#section-title {
    width: 80%;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    font-size: 48px;
    color: var(--text-color);
    border-bottom: 3px solid;
}


.primary-border {
    border-color: var(--primary-color);
}

 .sites {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.site {
    text-decoration: underline;
}

.work {
    flex: 1;
    margin: 20px;
    background: var(--primary-color);
    color: var(--text-color);
    justify-content:space-evenly;
}
.work img {
    width: 100%;
}

.cocky-cocktails {
    height: 250px;
}

.site-info {
    padding: 25px;
    width: 65%;
    line-height: 1.3;
    align-content: center;
}

.site-info h3 {
    font-size: 28px;
    text-align: left;
}

.site-info p {
    font-size: 17px;
    color: var(--text-color);
    text-align: left;
}

.site-info a {
    color: var(--text-color)
}


/* REACH OUT SECTION */

#collab {
    background: var(--primary-color);
    
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form h3 {
    text-align: center;
    
}

.contact-form p {
    text-align: center;
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: white;
}

.contact-form input:focus {
    background-color: white;
    outline: none;
}

.contact-form button {
    width: 50%;
    border: none;
    background: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
}

#contact-name {
    text-align: center;
}

#contact-message {
    text-align: center;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.contact-form button:hover {
    color: var(--secondary-color);
    background: var(--text-color);
}



/* FOOTER STYLING */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background: var(--primary-color);
    width: 100%;
    padding: 5px;
}

footer h2 {
    display: flex;
    text-align: center;
    justify-items: center;
    color: var(--text-color);
    font-size: 30px;
}



/* MEDIA QUERIES */

@media screen and (max-width: 980px) {
    header {
        display: flex;
        justify-content: center;
    }
    header h1 {
        width: 100%;
        justify-content: center;
    }
    
    header nav ul {
        flex-direction: row;
        justify-content: center;
        width: 80%;
    }

    header nav ul li a {
        font-size: 32px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    footer {
        text-align: center;
        width: 100%;
    }
   body {
       flex: 1 100;
   }

   #hero {
       flex: 1 100;
   }

   .about-me {
       flex: 1 100;
   }

   .selfie {
       width: 100%;
       height: 80%
   }

   .selfie img {
       width: 100%;
       height: 80%;
   }

    #currents {
        width: 100%;
    }

    #collab {
        justify-content: center;
    }
    .work {
        flex: 1 100;
    }
    .container {
        flex: 1 100%;
    }
}